/*
  Created by Andrey Markelov 29-08-2012.
  Copyright Mail.Ru Group 2012. All rights reserved.
*/
.optionbox {
    margin: 12px;
}

.linemargin {
    margin-left: 12px;
    margin-right: 12px;
}

.rightbox {
    float: left;
    width: 100%;
    height: 100%;
}

.opttext {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.addact {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.addcalheader {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    background-color: grey;
}

#loading {
    position: absolute;
    top: 5px;
    right: 5px;
}

.justtable {
    border-collapse: collapse;
    border-spacing: 0px;
}

.dlgtable {
    padding: 12px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.dlgtablekey {
    float: right;
    font-weight: bold;
}

label.checkbox {
    display: block;
}

.checkbox input {
    float: left;
    height: 18px;
    vertical-align: middle;
}

.checkbox a {
    float: left;
    line-height: 18px;
    margin: 0 0 0 7px;
    font-size: 14px;
    font-weight: bold;
}

.progress {
    background: rgba(0, 0, 0, 0.75);
    color:white;
    border-radius:5px;
    position: absolute;
    width: 200px;
    height: 60px;
    display: table;
    z-index: 50;
}

.progress_p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:28px;
}
