## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<form id="editcalform" name="editcalform" action="${baseUrl}/rest/mailrucalws/1.0/mailcalsrv/editcalendarprops" method="post">
  <input type="hidden" value="$pcud.getCalId()" id="calctime" name="calctime"/>
  <table class="dlginfotable">
    <tr>
      <td class="dlgtablekey"><label for="calcolor">$i18n.getText("mailrucal.calcolor")*</label></td>
      <td valign="top">
        <select id="calcolor" name="calcolor" style="background-color: $usercolor; color: white;" onchange="changeColor();" onkeydown="changeColor();" onkeyup="changeColor();">
          <option #if($usercolor == "#808080")selected#end value="#808080" style="background-color: Gray;">Gray</option>
          <option #if($usercolor == "#A9A9A9")selected#end value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
          <option #if($usercolor == "#D3D3D3")selected#end value="#D3D3D3" style="background-color: LightGrey;">LightGray</option>
          <option #if($usercolor == "#7FFFD4")selected#end value="#7FFFD4" style="background-color: Aquamarine;">Aquamarine</option>
          <option #if($usercolor == "#0000FF")selected#end value="#0000FF" style="background-color: Blue;">Blue</option>
          <option #if($usercolor == "#800080")selected#end value="#800080" style="background-color: Purple;color: #FFFFFF;">Purple</option>
          <option #if($usercolor == "#FF1493")selected#end value="#FF1493" style="background-color: DeepPink;">DeepPink</option>
          <option #if($usercolor == "#EE82EE")selected#end value="#EE82EE" style="background-color: Violet;">Violet</option>
          <option #if($usercolor == "#FFC0CB")selected#end value="#FFC0CB" style="background-color: Pink;">Pink</option>
          <option #if($usercolor == "#006400")selected#end value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">DarkGreen</option>
          <option #if($usercolor == "#008000")selected#end value="#008000" style="background-color: Green;color: #FFFFFF;">Green</option>
          <option #if($usercolor == "#9ACD32")selected#end value="#9ACD32" style="background-color: YellowGreen;">YellowGreen</option>
          <option #if($usercolor == "#FFFF00")selected#end value="#FFFF00" style="background-color: Yellow;">Yellow</option>
          <option #if($usercolor == "#FFA500")selected#end value="#FFA500" style="background-color: Orange;">Orange</option>
          <option #if($usercolor == "#FF0000")selected#end value="#FF0000" style="background-color: Red;">Red</option>
          <option #if($usercolor == "#A52A2A")selected#end value="#A52A2A" style="background-color: Brown;">Brown</option>
          <option #if($usercolor == "#DEB887")selected#end value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
          <option #if($usercolor == "#F5F5DC")selected#end value="#F5F5DC" style="background-color: Beige;">Beige</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="dlgtablekey"><label for="calcolor">$i18n.getText("mailrucal.showfields")</label></td>
      <td valign="top">
        <select style="width: 100px" id="srcfields" name="srcfields" multiple="multiple" size="20">
            #foreach($field in $fields.entrySet())
            <option value="$field.key">$field.value</option>
            #end
        </select>
        <a href="#" onclick="addSelectOneToTwo(event);">Add &raquo;</a>
        <a href="#" onclick="addSelectTwoToOne(event);">&laquo; Remove</a>
        <select style="width: 100px" name="selfields" id="selfields" multiple size="20">
            #foreach($field in $storedFields.entrySet())
            <option value="$field.key">$field.value</option>
            #end
        </select>
        <a href="#" onclick="upInFieldSelectList(event);">Up</a>
        <a href="#" onclick="downInFieldSelectList(event);">Down</a>
      </td>
    </tr>
  </table>
</form>
