## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<form id="deletecalform" name="deletecalform" action="${baseUrl}/rest/mailrucalws/1.0/mailcalsrv/updatecalendar" method="post">
  <input type="hidden" value="$pcud.getcTime()" id="calctime" name="calctime"/>
  <input type="hidden" value="$pcud.getName()" id="origcalname" name="origcalname"/>
  <table class="dlginfotable">
    <tr>
      <td class="dlgtablekey"><label for="calname">$i18n.getText("mailrucal.calname")*</label></td>
      <td valign="top"><input #if(!$isOwner)disabled="disabled"#end type="text" value="$pcud.getName()" id="calname" name="calname"/></td>
    </tr>
    <tr>
        <td class="dlgtablekey"><label for="caldescr">$i18n.getText("mailrucal.caldescr")</label></td>
        <td valign="top"><textarea rows="3" cols="30" id="caldescr" name="caldescr">$pcud.getDescr()</textarea></td>
    </tr>
    <tr>
        <td class="dlgtablekey"><label for="calcolor">$i18n.getText("mailrucal.calcolor")*</label></td>
        <td valign="top">
            <select id="calcolor" name="calcolor" style="background-color: $pcud.getColor(); color: white;" onchange="changeColor();" onkeydown="changeColor();" onkeyup="changeColor();">
                <option #if($pcud.getColor() == "#efe381")selected#end style="background-color: #efe381;" value="#efe381">Yellow</option>
                <option #if($pcud.getColor() == "#008B8B")selected#end style="background-color: #008B8B;" value="#008B8B">Dark Cyan</option>
                <option #if($pcud.getColor() == "#f4a36d")selected#end style="background-color: #f4a36d;" value="#f4a36d">Orange</option>
                <option #if($pcud.getColor() == "#696969")selected#end style="background-color: #696969;" value="#696969">Dim Gray</option>
                <option #if($pcud.getColor() == "#FFD700")selected#end style="background-color: #FFD700;" value="#FFD700">Gold</option>
                <option #if($pcud.getColor() == "#FF0000")selected#end style="background-color: #FF0000;" value="#FF0000">Red</option>
                <option #if($pcud.getColor() == "#0000FF")selected#end style="background-color: #0000FF;" value="#0000FF">Blue</option>
                <option #if($pcud.getColor() == "#FFC0CB")selected#end style="background-color: #FFC0CB;" value="#FFC0CB">Pink</option>
            </select>
        </td>
    </tr>
    #if($isOwner)
    <tr>
        <td class="dlgtablekey"><label>$i18n.getText("mailrucal.caldisplay")*</label></td>
        <td valign="top">
          <table class="justtable">
            <tr>
              <td valign="top">
              <table class="justtable">
                      <tr>
                        <td valign="top">
                <div>
                  <input onclick="fillProj();" type="radio" id="display" name="display" value="project" #if($pcud.isProjectType())checked="checked"#end/><span>$i18n.getText("mailrucal.calproj")</span>&nbsp;&nbsp;
                  <input onclick="fillJcl();" type="radio" id="display" name="display" value="jcl"/ #if($pcud.isJclType())checked="checked"#end><span>$i18n.getText("mailrucal.calfilter")</span>
                </div>
                <select id="mainsel" name="mainsel" style="background-color: white;">
                #if($pcud.isProjectType())
                  #foreach($entry in $aProj)
                    <option #if($targetName == $entry.getName())selected="selected"#end value="$entry.getId()">$entry.getName()</option>
                  #end
                #else
                  #foreach($entry in $aSearch)
                    <option #if($targetName == $entry.getName())selected="selected"#end value="$entry.getId()">$entry.getName()</option>
                  #end
                #end
                </select>
                <select id="projsel" name="projsel" style="display: none;">
                #foreach($entry in $aProj)
                  <option value="$entry.getId()">$entry.getName()</option>
                #end
                </select>
                <select id="jclsel" name="jclsel" style="display: none;">
                #foreach($entry in $aSearch)
                  <option value="$entry.getId()">$entry.getName()</option>
                #end
                </select>
                </td>
                      </tr>
                    </table>
              </td>
            </tr>
          </table>
        </td>
    </tr>
    #else
    <tr>
        <td class="dlgtablekey"><label>#if($pcud.isProjectType())$i18n.getText("mailrucal.calproj")#else$i18n.getText("mailrucal.calfilter")#end</label></td>
        <td valign="top"><input disabled="disabled" type="text" id="display" value="$targetName" name="display"/></td>
    </tr>
    #end
    #if($isOwner)
    <tr>
        <td class="dlgtablekey"><label>$i18n.getText("mailrucal.calshow")*</label></td>
        <td valign="top">
            <table class="justtable">
                <tr>
                  <td valign="top">
                    <table class="justtable">
                      <tr>
                        <td valign="top">
                          <input onclick="setIssueDueDate();" type="radio" id="showfld" name="showfld" value="idd" #if($pcud.isIDD())checked="checked"#end/><span>$i18n.getText("mailrucal.calidd")</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <table class="justtable">
                      <tr>
                        <td valign="top">
                          <input onclick="setCustomDate();" type="radio" id="showfld" name="showfld" value="cdp"/ #if($pcud.isDatePoint())checked="checked"#end><span>$i18n.getText("mailrucal.customdatepoint")</span>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top">
                          <select id="cdpinput" name="cdpinput" #if(!$pcud.isDatePoint())disabled="disabled"#end>
                            #foreach($cf in $cfs.entrySet())
                            <option #if($pcud.isDatePoint() && ($cf.key == $pcud.getStartPoint() || $cf.value == $pcud.getStartPoint()))selected="selected"#end value="$cf.key">$cf.value</option>
                            #end
                          </select>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <table class="justtable">
                      <tr>
                        <td valign="top">
                          <input onclick="setRange();" type="radio" id="showfld" name="showfld" value="cdr" #if($pcud.isDateRange())checked="checked"#end/><span>$i18n.getText("mailrucal.daterange")</span>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top">
                        <select id="startpoint" name="startpoint" #if(!$pcud.isDateRange())disabled="disabled"#end>
                            #foreach($cf in $cfs.entrySet())
                            <option #if($pcud.isDateRange() && ($cf.key == $pcud.getStartPoint() || $cf.value == $pcud.getStartPoint()))selected="selected"#end value="$cf.key">$cf.value</option>
                            #end
                          </select>-<select id="endpoint" name="endpoint" #if(!$pcud.isDateRange())disabled="disabled"#end>
                            #foreach($cf in $cfs.entrySet())
                            <option #if($pcud.isDateRange() && ($cf.key == $pcud.getEndPoint() || $cf.value == $pcud.getEndPoint()))selected="selected"#end value="$cf.key">$cf.value</option>
                            #end
                          </select>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
            </table>
        </td>
    </tr>
    #else
    <tr>
        <td class="dlgtablekey"><label>$i18n.getText("mailrucal.calshow")</label></td>
        <td valign="top">
        #if($pcud.isIDD())
          <input disabled="disabled" type="radio" id="display" name="display" checked="checked"/><span>$i18n.getText("mailrucal.calidd")</span>
        #elseif($pcud.isDatePoint())
        <table class="justtable">
            <tr>
            <td valign="top">
              <input disabled="disabled" type="radio" id="display" name="display" checked="checked"/><span>$i18n.getText("mailrucal.customdatepoint")</span>
             </td>
             </tr>
             <tr>
             <td valign="top">
          <input disabled="disabled" type="text" value="$pcud.getStartPoint()"/>
             </td>
             </tr>
             </table>
        #else
           <table class="justtable">
            <tr>
            <td valign="top">
          <input disabled="disabled" type="radio" id="display" name="display" checked="checked"/><span>$i18n.getText("mailrucal.daterange")</span>
          </td>
          </tr>
          <tr>
          <td valign="top">
          <input disabled="disabled" type="text" value="$pcud.getStartPoint()"/>
          </td>
          </tr>
          <tr>
          <td valign="top">
          <input disabled="disabled" type="text" value="$pcud.getEndPoint()"/>
            </td>
             </tr>
             </table>
        #end
        </td>
    </tr>
    #end
    #if($isOwner)
    <tr>
        <td class="dlgtablekey"><label>$i18n.getText("mailrucal.share")</label></td>
        <td valign="top">
            <table class="justtable">
                <tr>
                    <td valign="top">
                        <table class="justtable">
                            <tr>
                                <td valign="top">
                                    <div id="share_display_div">
                                    #foreach($group in $pcud.getGroups())
                                      <div id="group$group">
                                        <span>$i18n.getText("mailrucal.share_project", $group)</span>
                                        <img onclick="removeGroup(event);" id="share_trash" height="16px" width="16px" class="shareTrash" src="$baseUrl/images/icons/trash_16.gif" title="Delete Share" alt="Delete Share"/> <input id="share_type_hidden" name="shareValues" type="hidden"/>
                                      </div>
                                    #end
                                    #foreach($pRole in $pcud.getProjRoles())
                                      <div id="project$pRole.getProject()role$pRole.getRole()">
                                        #if($pRole.getRole() != "")
                                        <span>$i18n.getText("mailrucal.share_project_role", $projMap.get($pRole.getProject()), $roleProjMap.get($pRole.getRole()))</span>
                                        #else
                                        <span>$i18n.getText("mailrucal.share_project", $projMap.get($pRole.getProject()))</span>
                                        #end
                                        <img onclick="removeGroup(event);" id="share_trash" height="16px" width="16px" class="shareTrash" src="$baseUrl/images/icons/trash_16.gif" title="Delete Share" alt="Delete Share"/> <input id="share_type_hidden" name="shareValues" type="hidden"/>
                                      </div>
                                    #end
                                    </div>
                                    <div id="share_div">
                                      <div id="share_display_component">
                                        <div>
                                          <div>
                                            <input id="sharesel" name="sharesel" onclick="setShareGroup();" type="radio" checked="checked"/><span>$i18n.getText("mailrucal.sharegroup")</span>&nbsp;&nbsp;
                                            <input id="sharesel" name="sharesel" onclick="setShareProject();" type="radio"/><span>$i18n.getText("mailrucal.shareproject")</span>
                                          </div>
                                          <span id="share_group">
                                            <select id="groupShare" style="background-color: white;">
                                              #foreach($group in $allGroups)
                                              <option value="$group.getName()">$group.getName()</option>
                                              #end
                                            </select>
                                            <span onclick="addGroup();" class="addShare" id="share_add_group"><img src="$baseUrl/images/icons/16add_blue.png"/>Add</span>
                                          </span>
                                          <span id="share_project" style="display:none">
                                            <select id="projectShare-project" style="background-color: white;">
                                            #foreach($entry in $aProj)
                                              <option roles="$roleProjs.keySet().toString()" value="$entry.getId()">$entry.getName()</option>
                                            #end
                                            </select>
                                            <img src="/jira/images/icons/hierarchy_arrow.gif" alt="Arrow" width="10px" height="10px"/>
                                            <select id="projectShare-role" style="background-color: white;">
                                              <option value="">All</option>
                                              <optgroup label="Project Roles" id="projectShare-role-group">
                                                #foreach($entry in $roleProjs.entrySet())
                                                <option value="$entry.key">$entry.value</option>
                                                #end
                                              </optgroup>
                                            </select>
                                            <span onclick="addProject();" class="addShare" id="share_add_project"><img src="$baseUrl/images/icons/16add_blue.png"/>Add</span>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    #end
    <tr>
        <td class="dlgtablekey"><label for="caldescr">$i18n.getText("mailrucal.creationtime")</label></td>
        <td valign="top"><input type="text" value="$createtime" id="ctimestr" name="ctimestr" disabled="disabled"/></td>
    </tr>
    #if($creator)
    <tr>
        <td class="dlgtablekey"><label for="caldescr">$i18n.getText("mailrucal.creator")</label></td>
        <td valign="top"><input type="text" value="$creator" id="creator" name="creator" disabled="disabled"/></td>
    </tr>
    #end
  </table>
  <input id="shares_data" name="shares_data" style="display:none;" value='$storedShares'/>
  <img onclick="removeGroup(event);" id="share_trash_sh" height="16px" width="16px" style="display: none" class="shareTrash" src="$baseUrl/images/icons/trash_16.gif" title="Delete Share" alt="Delete Share"/> <input id="share_type_hidden" name="shareValues" type="hidden"/>
</form>
