## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<html>
  <head>
    <title>$i18n.getText("mailrucal.settingstitle")</title>
    <meta name="decorator" content="admin"/>
    $webResourceManager.requireResource("jira.webresources:global-static")
    $webResourceManager.requireResource("jira.webresources:jira-global")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("jira.webresources:autocomplete")
    $webResourceManager.requireResource("ru.mail.jira.plugins.mailrucal:jcalendar-admin")
  </head>
  <body class="aui">
  #if($action.hasAdminPermission())
    <fieldset rel="pgadmin" class="hidden user-picker-params">
      <input type="hidden" title="formName" value="jiraform">
      <input type="hidden" title="fieldName" value="pgadmin">
      <input type="hidden" title="fieldId" value="pgadmin">
      <input type="hidden" title="multiSelect" value="false">
      <input type="hidden" title="userPickerEnabled" value="true">
    </fieldset>
    #if ($action.hasAnyErrors())
    <div class="aui-message error">
      <h4>$action.getText("mailrucal.admin.configuration.error")</h4>
      <ul>
      #foreach ($error in $action.getErrorMessages())
        <li>$action.getText($error)</li>
      #end
      #foreach ($error in $action.errors)
        <li>$error</li>
      #end
      </ul>
    </div>
    #end
    #if ($saved)
    <div class="aui-message closeable shadowed">
      <p class="title"><span class="aui-icon icon-success"></span><strong>$action.getText("mailrucal.admin.configuration.success.text")</strong></p>
    </div>
    #end
    <form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="ViewMailRuCalendarAdmin.jspa">
      <table class="dlgtable">
        <tr>
          <td class="dlgtablekey"><label for="calname">$i18n.getText("mailrucal.calname")*</label></td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <input type="text" size="30" id="calname" name="calname"/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey"><label for="caldescr">$i18n.getText("mailrucal.caldescr")</label></td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <textarea rows="3" cols="30" id="caldescr" name="caldescr"></textarea>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey"><label for="calcolor">$i18n.getText("mailrucal.calcolor")*</label></td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <select id="calcolor" name="calcolor" style="background-color: #ADFF2F; color: white;" onchange="changeColor();" onkeydown="changeColor();" onkeyup="changeColor();">
                          <option style="background-color: #ADFF2F;" value="#ADFF2F">Green Yellow</option>
                          <option style="background-color: #008B8B;" value="#008B8B">Dark Cyan</option>
                          <option style="background-color: #FFA500;" value="#FFA500">Orange</option>
                          <option style="background-color: #696969;" value="#696969">Dim Gray</option>
                          <option style="background-color: #FFD700;" value="#FFD700">Gold</option>
                          <option style="background-color: #FF0000;" value="#FF0000">Red</option>
                          <option style="background-color: #0000FF;" value="#0000FF">Blue</option>
                          <option style="background-color: #FFC0CB;" value="#FFC0CB">Pink</option>
                        </select>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey">
            <label for="pgadmin_container">$action.getText("mailrucal.admin.user")</label>
          </td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <div  id="pgadmin_container">
                          <input type="text" name="pgadmin" id="pgadmin" #if ($pgadmin) value="$pgadmin" #end/>
                          <a class="popup-trigger" href="#"><img  title='$action.getText("mailrucal.admin.specify.user")' alt='$action.getText("mailrucal.admin.specify.user")' name="assigneeImage" src="$baseUrl/images/icons/filter_public.gif" hspace="0" height="16" width="16" border="0" style="vertical-align:top"></a>
                          <div id="pgadmin_results" class="ajax_results"></div>
                          <div class="small">$action.getText("mailrucal.admin.match")</div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey">
            <label for="pgadmin_container">$action.getText("mailrucal.admin.groups")</label>
          </td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <select multiple="" size="10" id="selectedGroups" name="selectedGroups">
                        #foreach ($group in $allGroups)
                          <option value="$group.getName()">$group.getName()</option>
                        #end
                        </select>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey"><label>$i18n.getText("mailrucal.caldisplay")*</label></td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <div>
                          <input onclick="fillProj();" type="radio" id="display" name="display" value="project" checked="checked"/><span>$i18n.getText("mailrucal.calproj")</span>&nbsp;&nbsp;
                          <input onclick="fillJcl();" type="radio" id="display" name="display" value="jcl"/><span>$i18n.getText("mailrucal.calfilter")</span>
                        </div>
                        <select id="mainsel" name="mainsel" style="background-color: white;">
                        #foreach($entry in $action.getProjects().entrySet())
                          <option value="$entry.key">$entry.value</option>
                        #end
                        </select>
                        <select id="projsel" name="projsel" style="display: none;">
                        #foreach($entry in $action.getProjects().entrySet())
                          <option value="$entry.key">$entry.value</option>
                        #end
                        </select>
                        <select id="jclsel" name="jclsel" style="display: none;">
                        #foreach($entry in $action.getFilters().entrySet())
                          <option value="$entry.key">$entry.value</option>
                        #end
                        </select>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey"><label>$i18n.getText("mailrucal.calshow")*</label></td>
          <td valign="top">
            <table class="justtable">
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <input onclick="setIssueDueDate();" type="radio" id="showfld" name="showfld" value="idd" checked="checked"/><span>$i18n.getText("mailrucal.calidd")</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <input onclick="setCustomDate();" type="radio" id="showfld" name="showfld" value="cdp"/><span>$i18n.getText("mailrucal.customdatepoint")</span>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="text" size="15" id="cdpinput" name="cdpinput" disabled="disabled"/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table class="justtable">
                    <tr>
                      <td valign="top">
                        <input onclick="setRange();" type="radio" id="showfld" name="showfld" value="cdr"/><span>$i18n.getText("mailrucal.daterange")</span>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="text" size="13" id="startpoint" name="startpoint" disabled="disabled"/> - <input type="text" size="13" id="endpoint" name="endpoint" disabled="disabled"/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="dlgtablekey">
            <input class="button submit" type="submit" name="add" value="$action.getText("common.words.save")" accesskey="S" title="Press Alt+Shift+S to submit form"/>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </form>
  #else
    <div class="errorArea">$action.getText("mailrucal.admin.access")</div>
  #end
  </body>
</html>
